<template>
  <div class="base">
    <user-status></user-status>
    <amplify-authenticator
      v-if="!isLoggedIn"
      v-bind:authConfig="authConfig"
    ></amplify-authenticator>
    <amplify-sign-out v-if="isLoggedIn"></amplify-sign-out>
  </div>
</template>

<script>
import { actions , getters} from "../store/user/constraints";
import { AmplifyEventBus } from "aws-amplify-vue";
import { mapGetters } from "vuex";

import UserStatus from "./UserStatus";

export default {
  components: {
    "user-status": UserStatus
  },
  computed: {
    ...mapGetters({
      isLoggedIn: getters.user.IS_LOGGED_IN
    })
  },
  data() {
    return {
      authConfig: {        
        signInConfig: {
          header: "SIGN IN"
        },
        signUpConfig: {
          header: "SIGN UP",
          defaultCountryCode: "375",
          hideAllDefaults: true,
          signUpFields: [
            {
              label: "Email",
              key: "email",
              required: true,
              displayOrder: 1,
              type: "email"
            },
            {
              label: "Password",
              key: "password",
              required: true,
              displayOrder: 2,
              type: "password"
            },
            {
              label: "Name",
              key: "name",
              required: true,
              displayOrder: 3,
              type: "string"
            },
            {
              label: "Phone number",
              key: "phone_number",
              required: false,
              displayOrder: 4,
              type: "string"
            }
          ]
        }
      }
    };
  },
  mounted() {
    this.$store.dispatch(actions.user.GET);
    AmplifyEventBus.$on("authState", info => {
      this.$store.dispatch(actions.user.GET);
    });
  }
};
</script>

<style>
.base button {
  background: red !important;
}

.base a {
  color: red !important;
}
</style>