<template>
  <div class="custom">
    <user-status></user-status>
  </div>
</template>

<script>
import { getters } from "../store/user/constraints";
import { mapGetters } from "vuex";

import UserStatus from "./UserStatus";

export default {
  components: {
    "user-status": UserStatus
  },
  computed: {
    ...mapGetters({
      isLoggedIn: getters.user.IS_LOGGED_IN
    })
  }
};
</script>

