<template>
 <div id="app">
      <h1>Piy piy piy!</h1>
      <ul>
        <li><router-link to="/aws-login">Aws Login</router-link></li>
        <li><router-link to="/custom-login">Custom Login</router-link></li>
      </ul>
      <router-view class="view"></router-view>
    </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
