<template>
  <div class="status">
    <div><b>USER:</b> {{ userName }}</div>
    <div><b>isLoggedIn:</b> {{ isLoggedIn }}</div>
  </div>
</template>

<script>
import { getters } from "../store/user/constraints";
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters({
      isLoggedIn: getters.user.IS_LOGGED_IN,
      userName: getters.user.USER_NAME
    })
  }
};
</script>

<style scoped>
.status {
  display: grid;
}
</style>